@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome on blogsite!</h1>
    <div class="menu">
        <a class="btn btn-primary" href="#" role="button">Explore</a>
        <a class="btn btn-primary" href="#" role="button">Start a discussion</a>
    </div>
</div>
